@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h2 {
    color: #2c2c51;
    margin: 40px 0;
}

.icon {
    width: 100px;
    height: auto;
}

.card {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    min-height: auto;

    h3 {
        text-align: center;
        padding-top: 24px;
        padding-bottom: 8px;
    }

    .card-content {
        display: flex;
        justify-content: center;
    }

    .gaugeMeter {
        height: 280px;
        position: relative;
        
       
    }

    u {
        text-decoration: none;
    }

    span {
        display: none;
    }

   p {
        width: 100%;
        height: min-content !important;
        position: absolute;
        font-size: 1.5rem !important;
        line-height: 0 !important;
        bottom: 40px;
        margin: auto;
        text-align: center;
    }

}